@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
/* .window-app {
  font-family: "Roboto", sans-serif;
}
 */
.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

/* Token HUD custom styles (PS) */

.placeable-hud .token-ps {
  position: relative;
  top: -130px;
  width: 100px;
  height: 60px;
  box-sizing: content-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.placeable-hud .token-ps .ps-icons {
  flex: 1 100px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #333;
  border-radius: 8px;
  color: #DDD;
  line-height: 30px;
  font-size: 19px;
  font-weight: bold;
  pointer-events: all;
  margin-top: auto;
}

.placeable-hud .token-ps .ps-icons:hover {
  color: gold;
}

.placeable-hud .token-ps .ps-add {
    color: #DDD;
    position: absolute;
    bottom: -10px;
    left: 42.5px;
    font-size: 15px;
    margin: 0;
}

.placeable-hud .token-ps .ps-add:hover {
  color: lightgreen;
}

.placeable-hud .token-ps .ps-add:active {
  color: greenyellow;
}

.placeable-hud .token-ps .ps-icons .ps-more {
  position: absolute;
  top: 15px;
  right: -8px;
  font-size: 15px;
  margin: 0;
}

.placeable-hud .ps-icons:hover {
  box-shadow: 0 0 10px #c60;
}

/* Styles limited to wfrp2e sheets */

.wfrp2e input {
  margin-left: auto;
  margin-right: auto;
  min-width: 30px;
  width: 30px;
}

/* Actor Sheet - sheet body */

.wfrp2e .sheet-body {
  overflow: scroll;
}

/* Actor Sheet - resource tab */

.wfrp2e .resources {
  display: grid;
  grid-template-columns: auto auto auto;
}

.tab table.stats {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #999;
}

.tab table.stats td {
  padding: 2px;
}


.wfrp2e .header-fields .resource-h,
.wfrp2e .header-fields .resource-v {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #999;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}

.wfrp2e .header-fields .resource-v {
  flex-direction: column;
}

.wfrp2e .header-fields .resource-h {
  flex-direction: row;
}

.wfrp2e .resource-label {
  font-weight: bold;
}

.wfrp2e .resource-content .slash {
  font-weight: bold;
}

.wfrp2e .resource-content {
  word-spacing: 8px;
}

/* Actor Sheet - Statistics tab */

.wfrp2e table {
  text-align: center;
}

.wfrp2e table td.description {
  text-align: right;
  font-size: 10px;
}

.wfrp2e table td {
  margin-left: auto;
  margin-right: auto;
}
